---
import PostTemplate from "@/layouts/PostTemplate.astro"
import { getPosts } from "@/libraries/microcms"
import { formatDate } from "@/libraries/formatDate"
import { SITE_URL } from "@/constants/metadata"
import { load } from "cheerio"
import { codeToHtml } from "shiki"
import { Image } from "astro:assets"
import twitterIconSrc from "@/assets/icon/icon-twitter.svg"
import pencilIconSrc from "@/assets/icon/icon-pencil.svg"
import refreshIconSrc from "@/assets/icon/icon-refresh.svg"
import { getImage } from "astro:assets"

export async function getStaticPaths() {
    const posts = await getPosts()

    return posts.map((post) => {
        return {
            params: { category: post.category.id, post: post.id },
            props: { post },
        }
    })
}

const { post } = Astro.props

const twitterIcon = await getImage({ src: twitterIconSrc })
const pencilIcon = await getImage({ src: pencilIconSrc })
const refreshIcon = await getImage({ src: refreshIconSrc })

const promise: any = []
const $ = load(post.content)
$("pre code").each(function (this: cheerio.Element) {
    const element = $(this)
    const code = codeToHtml(element.text(), {
        lang: "javascript",
        theme: "nord",
    }).then((highlight) => {
        element.parent().replaceWith(highlight)
    })
    promise.push(code)
})
await Promise.all(promise)
const formattedContent = $.html()
---

<PostTemplate post={post}>
    <article class="c-post">
        <div class={`c-post__eyeCatch c-post__eyeCatch-${post.category.id}`}>
            {
                post.eyecatch !== undefined ? (
                    <Image
                        src={post.eyecatch.url}
                        alt={post.title}
                        width={post.eyecatch.width || 800}
                        height={post.eyecatch.height || 450}
                    />
                ) : (
                    <p class="c-post__eyeCatchCategory">{post.category.name}</p>
                )
            }
        </div>
        <div class="c-post__meta">
            <ul class="c-post__tags">
                {post.tags && post.tags.map((tag) => <li class="c-post__tag">{tag.tags}</li>)}
            </ul>
            <h1 class="c-post__title">{post.title}</h1>

            <div class="c-post__category">
                <a href={`/category/${post.category.id}`}>
                    {post.category.name}
                </a>
            </div>
            <div class="c-post__dates">
                <p class="c-post__createdAt">
                    {formatDate(post.createdAt)}
                </p>
                {post.createdAt !== post.updatedAt && <p class="c-post__updatedAt">{formatDate(post.updatedAt)}</p>}
            </div>
        </div>
        <div class="c-post__contents" set:html={formattedContent} />
        <div class="c-post__share">
            <p class="c-post__shareText">Share!</p>
            <div class="c-post__sns">
                <a
                    href={`https://twitter.com/intent/tweet?url=${SITE_URL}/${post.category.id}/${post.id}&text=${post.title}%20%7C%20To%20The%20First`}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="c-post__snsItem is-twitter"
                    aria-label="Twitterシェアボタン"
                >
                    <span class="c-post__snsItemText"> Twitter(X)でシェア </span>
                </a>
            </div>
        </div>
    </article>
</PostTemplate>

<style
    define:vars={{
        twitterIcon: `url(${twitterIcon.src})`,
        pencilIcon: `url(${pencilIcon.src})`,
        refreshIcon: `url(${refreshIcon.src})`,
    }}
>
    .c-post {
        padding: 0 0 40px 0;
        border-radius: 0 0 50px 50px;
        box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.05);
        background-color: #ffffff;
        z-index: 2;
    }

    .c-post__eyeCatch {
        position: relative;
        width: 100%;
        aspect-ratio: 16 / 9;
        border-radius: 0 0 0 100px;
        background-color: var(--textsub);
        overflow: hidden;
    }

    .c-post__eyeCatch-design {
        background-color: var(--design);
    }

    .c-post__eyeCatch-tech {
        background-color: var(--tech);
    }

    .c-post__eyeCatch-daily {
        background-color: var(--daily);
    }

    .c-post__eyeCatch img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .c-post__eyeCatchCategory {
        position: absolute;
        right: 0;
        top: 100%;
        font-size: 10vh;
        font-weight: 800;
        color: var(--white);
        transform: translateY(-88%);
        pointer-events: none;
    }

    .c-post__meta {
        padding: 0 4%;
    }

    .c-post__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        margin-top: 24px;
    }

    .c-post__tag::before {
        content: "#";
        margin-right: 2px;
    }

    .c-post__title {
        font-size: 2em;
        font-weight: 800;
        margin: 0.67em 0;
    }

    .c-post__dates {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .c-post__createdAt,
    .c-post__updatedAt {
        position: relative;
    }

    .c-post__createdAt::before {
        content: var(--pencilIcon);
        position: absolute;
        top: 60%;
        left: -20px;
        transform: translateY(-50%);
    }

    .c-post__updatedAt::before {
        content: var(--refreshIcon);
        position: absolute;
        top: 60%;
        left: -20px;
        transform: translateY(-50%);
    }

    :global(.c-post__contents) {
        margin-top: 40px;
        padding: 0 5%;
        word-break: break-all;
    }

    :global(.c-post__contents a) {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 2px;
    }

    :global(.c-post__contents h2) {
        margin-top: 32px;
        padding-bottom: 4px;
        border-bottom: 1px solid var(--textsub);
    }

    :global(.c-post__contents h3),
    :global(.c-post__contents h4) {
        margin-top: 32px;
    }

    :global(.c-post__contents p) {
        margin-top: 24px;
    }

    :global(.c-post__contents p > code) {
        box-sizing: border-box;
        padding: 2px;
        border: 1px solid var(--textsub);
        border-radius: 4px;
        background-color: var(--bgsub);
        color: var(--textorange);
    }

    :global(.c-post__contents ol) {
        list-style-type: decimal;
        list-style-position: inside;
    }

    :global(.c-post__contents ol > li) {
        list-style-type: decimal;
        list-style-position: inside;
        line-height: 2;
    }

    :global(.c-post__contents ol > li > ol) {
        margin-left: 24px;
    }

    :global(.c-post__contents ul > li) {
        line-height: 2;
    }

    :global(.c-post__contents ul > li::before) {
        content: "-";
        margin-right: 12px;
    }

    :global(.c-post__contents ul > li > ul) {
        margin-left: 24px;
    }

    :global(.c-post__contents blockquote) {
        position: relative;
        margin-top: 24px;
        padding: 24px;
        box-sizing: border-box;
        font-style: italic;
        background: var(--bgsub);
        color: var(--textbrown);
        border-left: 12px solid var(--bgsub2);
        border-radius: 12px;
    }

    :global(.c-post__contents pre) {
        border-radius: 12px;
        padding: 16px;
        overflow-x: scroll;
        scrollbar-width: thin;
        scrollbar-color: rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.1);

        &::-webkit-scrollbar {
            height: 8px;
        }

        &::-webkit-scrollbar-track {
            background: rgba(255, 255, 255, 0.1);
            border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, 0.3);
            border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: rgba(255, 255, 255, 0.4);
        }

        /* Firefox用 */
        scrollbar-width: thin;
        scrollbar-color: rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.1);
    }

    .embedly-embed {
        max-width: 100%;
        margin-top: 24px;
    }

    .c-post__share {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 16px;
        margin-top: 60px;
    }

    .c-post__shareText {
        position: relative;
    }

    .c-post__shareText::before,
    .c-post__shareText::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        width: 12px;
        height: 1px;
        border-radius: 3px;
        background-color: var(--textmain);
        opacity: 0.7;
    }

    .c-post__shareText::before {
        left: -20px;
        transform: rotate(50deg);
    }

    .c-post__shareText::after {
        right: -20px;
        transform: rotate(-50deg);
    }

    .c-post__snsItem {
        display: block;
        width: 60px;
        height: 60px;
        background-image: var(--twitterIcon);
        background-size: 40px 40px;
        background-position: 50%;
        background-repeat: no-repeat;
        background-color: var(--bgsub);
        border-radius: 50%;
        box-shadow:
            4px 4px 4px rgba(0, 0, 0, 0.1),
            1px 1px 2px transparent,
            inset 2px 2px 4px hsla(0, 0%, 100%, 0.9),
            inset -2px -2px 4px rgba(0, 0, 0, 0.05);
    }

    .c-post__snsItemText {
        display: none;
    }
</style>
